{#-
---------------------------------------------------------------------------------------
DEPENDENCIES template
---------------------------------------------------------------------------------------
Change SpectroChemPy project dependencies here only.

requirements[_dev][_test].text, environment[_dev][_test].yml and .conda/meta.yaml will
be created or updated accordingly
#}

    # dependencies for the core package
    - brukeropusreader
    - colorama
    - dill
    - docrep
    - ipython
    - jinja2
    - numpy
    - numpydoc
    - matplotlib
    - osqp
    - pint
    - pyyaml
    - quaternion
    - scikit-learn
    - setuptools_scm
    - tzlocal
    - xlrd

{%- if TEST %}

    # TEST dependencies
    # ----------------
    - coverage
    - pytest
    - pytest-doctestplus
    - pytest-flake8
    - pytest-mock
    - pyfakefs
    - pep8-naming
    - xarray
    - ipywidgets
    - cffconvert

{%- endif %}
{%- if DEV %}

    # DEV dependencies
    # ----------------
    # From here, the dependencies are essentially for development.
    # They should not be necessary for the user of  spectrochempy.
    - anaconda-client
    - flake8
    - black
    - boa
    - conda-build
    - conda-verify
    - isort
    - json5
    - jupytext
    - jupyter_sphinx
    - mamba
    - nbconvert
    - nbsphinx
    # - pandoc # cannot be installed with pip
    - pypandoc
    - pre-commit
    - scikit-image
    - sphinx
    - sphinx-copybutton
    - sphinx-gallery
    - sphinx_rtd_theme
    - sphinxcontrib-bibtex
{%- endif %}
{%- if CANTERA %}

    # CANTERA dependencies
    # --------------------
    - cantera
{%- endif %}
