{#-
---------------------------------------------------------------------------------------
DEPENDENCIES template
---------------------------------------------------------------------------------------
Change SpectroChemPy project dependencies here only.

requirements[_dev].text, environment[_dev].yml and .conda/meta.yaml will be created
or updated accordingly

#}
    # specific dependencies
    - quadprog
    - brukeropusreader
    - quaternion
{%- if CANTERA %}
    - cantera
{%- endif %}

    # dependencies for the core package
    - cffconvert
    - colorama
    - dill
    - ipython
    - jinja2
    - matplotlib
    - numba
    - numpy
    - pint
    - requests
    - scipy
    - tqdm
    - traitlets
    - traittypes
    - xlrd
    - pyyaml
    - ipywidgets
    - ipympl

    # dependencies needed mainly for install and a bit more ...
    - setuptools
    - setuptools_scm
    - git

    # Jupyter lab
    - jupyterlab
    - nodejs

{% if DEV -%}
    # DEV dependencies
    # ----------------
    # From here, the dependencies are essentially for development.
    # They should not be necessary for the user of  spectrochempy.

    - pytest
    - pytest-doctestplus
    - pytest-flake8
    - pytest-mock
    - pyfakefs
    - pep8-naming
    - scikit-image
    - coverage
    - black
    - pre-commit
    - mamba
    - docrep
    - jupytext
    - sphinx=5.3
    - sphinx_rtd_theme=1.1
    - autodocsumm
    - sphinx-gallery
    - nbsphinx
    - jupyter_sphinx
    - json5
    - sphinx-copybutton
    - numpydoc
    - pandoc
    - conda-build
    - conda-verify
    - anaconda-client
{% endif %}
{%- if DASH %}
    # dash dependencies
    - dash
    - dash-bootstrap-components
    - dash-daq
    - jupyter-dash
    - plotly
{%- endif %}
{%- if DEV %}
    - pip
    - pip:
        - autodoc_traits
{%- endif %}
{%- if DASH %}
        - dash_defer_js_import
        - dash-ace
{%- endif %}
#EOF
