{#-
---------------------------------------------------------------------------------------
DEPENDENCIES template
---------------------------------------------------------------------------------------
Change SpectroChemPy project dependencies here only.

requirements[_dev][_test].text, environment[_dev][_test].yml and .conda/meta.yaml will
be created or updated accordingly
#}
    # specific dependencies
    - quadprog
    - brukeropusreader
    - quaternion
{% if CANTERA -%}
    - cantera
{%- endif %}
    # dependencies for the core package
    - cffconvert
    - colorama
    - dill
    - docrep
    - ipython
    - jinja2
    - matplotlib
    - numba
    - numpy
    - numpydoc>=1.2
    - pint
    - pytz
    - requests
    - scipy
    - tqdm
    - traitlets
    - scikit-learn
    - xlrd
    - pyyaml

    # dependencies needed mainly for install and a bit more ...
    - setuptools
    - setuptools_scm
    - git

    # Jupyter lab
    - jupyterlab
    - nodejs
    - ipywidgets=8.0.4
    - widgetsnbextension=4.0.5
    - jupyterlab_widgets=3.0.5
    - ipympl
{%- if TEST %}

    # TEST dependencies
    # ----------------
    - coverage
    - pytest
    - pytest-doctestplus
    - pytest-flake8
    - pytest-mock
    - pyfakefs
    - pep8-naming
    - xarray
{%- endif %}
{%- if DEV %}

    # DEV dependencies
    # ----------------
    # From here, the dependencies are essentially for development.
    # They should not be necessary for the user of  spectrochempy.
    - scikit-image
    - black
    - pre-commit
    - mamba
    - jupytext
    - sphinx=5.3
    - sphinx_rtd_theme=1.2
    - autodocsumm
    - sphinx-gallery
    - nbsphinx
    - jupyter_sphinx
    - json5
    - sphinx-copybutton
    - sphinxcontrib-bibtex
    - pandoc=2.19
    - conda-build
    - conda-verify
    - anaconda-client
    - numpydoc>=1.2
{%- endif %}
