context:
  name: spectrochempy
  version: ${{ env.VERSION }}
  devstring: ${{ env.DEVSTRING }}

package:
  name: ${{ name }}
  version: ${{ env.VERSION }}

source:
  path: ..

build:
  string: ${{ devstring }}
  noarch: python
  script:
    - export SETUPTOOLS_SCM_PRETEND_VERSION=${{ version }}
    - python -m pip install .

requirements:
  host:
    - pip
    - python >=3.10
    - setuptools
    - setuptools_scm
  run:
    - python >=3.10
DEPENDENCIES

tests:
  - script:
    - python -c "import spectrochempy"
    - python -c "import spectrochempy as scp; scp.show_versions()"

about:
  homepage: "https://github.com/spectrochempy/spectrochempy"
  license: LicenseRef-CeCILL-B
  license_family: OTHER
  summary: "Processing, analysis and modelling Spectroscopic data for Chemistry with Python"
  documentation: "https://www.spectrochempy.fr"
  repository: "https://github.com/spectrochempy/spectrochempy"
  description: |
    SpectroChemPy is a framework for processing, analyzing and modeling Spectroscopic data for Chemistry with Python.
    It is a cross platform software, running on Linux, Windows or OS X.

    SpectroChemPy is still experimental and under active development.
    Its current design is subject to major changes, reorganizations, bugs and crashes!!!.
    Please report any issues to the Issue Tracker on github.

extra:
  recipe-maintainers:
    - fernandezc
    - atravert
