/* SpectroChemPy output styling */
.scp-output {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.scp-output details {
    margin: 0;
    padding: 1px;
    border: 1px solid #888;
    border-radius: 4px;
}

.scp-output summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 11pt;
}

.scp-output summary:hover {
    color: #888;
}

/* Parameters display styling */
.scp-output .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 1px;
    margin-left: 1px 1px 1px 20px;
    border: 1px solid #888;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.scp-output .meta-name,
.scp-output .attr-name {
    font-weight: 500;
    color: #28A745;
    text-align: right;
}

.scp-output .attr-name {
    min-width: 100px;
}

.scp-output .meta-name {
    min-width: 150px;
}

.scp-output .meta-value,
.scp-output .attr-value {
    flex: 1;
}

.scp-output .numeric {
    color: #2D7FF9;
    margin-left: 120px;
    font-size: 10pt;
}

.scp-output .label {
    color: darkcyan;
    margin-left: 120px;
    font-size: 10pt;
}

.scp-output .attr-value .numeric {
    color: #2D7FF9;
    margin-left: 0px;
    font-size: 10pt;
}

.scp-output .attr-value .label {
    color: darkcyan;
    margin-left: 0px;
    font-size: 10pt;
}
