[run]
source =
    */spectrochempy
branch = false

[report]
exclude_lines =
    pragma: no cover
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def __repr__
    if self.debug:
    if settings.DEBUG
ignore_errors = false
