# intentionnaly masked with ~
*~
~*

# ignored extensions
*.log
.eggs
*.egg-info
*.bak
*.pkl
*.orig
*.so
*.mo
*.pot
*.tar
*.bz2
*.py[cod]
*.pdf
*.pptx
*.zip
*.egg
*.manifest
*.spec
*.pyc
.vscode

# generated in tests and examples
*.ipynb
*.csv
*.jdx
*.nc
*.scp
*.pscp

# git files
*_LOCAL_*.*
*_REMOTE_*.*
*_BACKUP_*.*
*_BASE_*.*

# local files or directory
.gitignore_*
.editorconfig
/extdata/
/git_hooks/
/installed.txt
thumb.png

# Mac OS specific
.DS_Store

# pycharm project
.idea/

# Spyder project
.spyderproject
.spyproject

# caches
*.ipynb_checkpoints/
__pycache__/
.cache/
/.pytest_cache/

# Sphinx documentation
docs/_build/
docs/index.doctree
generated/
dist/
build/
*/gen_modules/
gallery
docs/modules/
docs/savefig/
docs/_templates_old
*.py-donotwork
/patch.diff
.hypothesis/
/htmlcov/
cov.coverage
cov.syspath.txt
coverage.xml

# tests
tests/figures
/tests_extern_packages/

# latex
*.fdb_latexmk

# data
scpy.svg
*.sample
scp_data/testdata/figures
audita.txt
auditp.txt
clevels

# Docker / bitbucket
.dockerignore
.pipeline*.sh

# Distribution / packaging
.Python
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.coverage
saved_pkglist.txt
Icon*

# pip virtual environment
/env/
HIZECOKE_TEST.pscp
process.pscp

# unknown
.goutputstream*
