# intentionnaly masked with ~
*~
~*

# pycharm project
.idea/

# PyBuilder
target/

# Spyder project
.spyderproject
.spyproject


# Example ipython notebook checkpoints
*.ipynb_checkpoints/
Untitled.ipynb

# caches
__pycache__/
.cache/

# Sphinx documentation
docs/api/
docs/_build/
docs/index.doctree
*generated
dist/
build/
docs/gen_modules
docs/user/auto_examples
docs/user/gen_modules
docs/modules/
docs/savefig/
docs/_templates_old

.DS_Store
*.log

.eggs
*.egg-info

cov/
*.fdb_latexmk


# data
essai.scp
scpy.svg
*.pyc

*.sample

tartempion.scp
todo.txt
*.bak
*.pkl
FTIR.scp
tg.scp

tests/figures
.coverage*
scp_data/testdata/figures
.gitignore_*
*.orig


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# various files related to conda recipes
recipes/spectrochempy/linux-32
recipes/spectrochempy/linux-64
recipes/spectrochempy/linux-aarch64
*.tar.bz2



.dockerignore
.pipeline*.sh
Dockerfile
/docs/user/userguide/essai.ipynb
.vscode
