# Backup files
*~
~*

# Logs and temporary files
*.log
*.bak
*.orig
*.pkl
*.tar
*.bz2
*.zip
*.egg
*.manifest
*.spec
*.pyc
*.scp
*.pscp
*.pptx
*.jdx
*.sample
*.fdb_latexmk
*.goutputstream*

# Python specific
*.py[cod]
__pycache__/
.cache/
/.pytest_cache/
.Python
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.coverage
.hypothesis/
htmlcov/
cov.coverage
cov.syspath.txt
coverage.xml
coverage.json

# Jupyter notebooks
*.ipynb_checkpoints/
*.ipynb
*.pct.md

# Sphinx documentation
docs/reference/generated
docs/reference/api.rst
build/
gallery/
docs/savefig/
docs/_build

# Tests
tests/figures
/tests_extern_packages/

# Distribution / packaging
dist/
saved_pkglist.txt

# Local files or directories
.editorconfig
/extdata/
/git_hooks/
/installed.txt
thumb.png

# Mac OS specific
.DS_Store
Icon*

# IDE specific
.idea/
.spyderproject
.spyproject
.vscode
*.code-workspace

# Docker / bitbucket
.dockerignore
.pipeline*.sh

# Pip virtual environment
/env/
.venv

# Git specific
*_LOCAL_*.*
*_REMOTE_*.*
*_BACKUP_*.*
*_BASE_*.*
.gitignore_*

# Unknown
process.pscp
HIZECOKE_TEST.pscp
essai.py
res.docstrings.txt
out/
*dev*.rst
data/stylesheets/mydefault.mplstyle
_ressources
_tools
sg_execution_times.rst

myfile.csv
_sandbox
