# do not use Travis python to save some time
language: generic
os: linux
dist: xenial

jobs:
  fast_finish: true
  include:
    - stage: tests
    - name: py3.6
      if: type == pull_request or branch NOT IN (master)
      env:
      - TEST=true
      - CONDAPY=3.9
    - name: py3.6
      if: type == pull_request or branch NOT IN (master)
      env:
      - TEST=true
      - CONDAPY=3.6
    - name: conda-deploy
      if: type == pull_request AND branch IN (master, develop) OR tag =~ /^\d{1,2}\.\d{1,2}\.\d{1,2}(.rc\d+)?$/
      env:
      - DEPLOY=true
      - CONDAPY=3.8
    - stage: build-docs
      if: type != pull_request AND (branch IN (master, develop) OR tag =~ /^\d{1,2}\.\d{1,2}\.\d{1,2}(.rc\d+)?$/)
      env:
      - BUILDOCS=true
      - CONDAPY=3.8

# limit got clone depth to 50 commits
# this means that pull requests must be done with less than 50 commit changes
git:
  depth: 50

# cache:
# apt: true

addons:
  apt:
    update: true
    packages:
      - xvfb
#      - texlive-full

# install miniconda and create environment
before_install:
  - echo "Setup display...";
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - echo "Installing miniconda.";
  - mkdir $HOME/download;
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O $HOME/download/miniconda.sh;
  - bash $HOME/download/miniconda.sh -b -u -p $HOME/miniconda;
  - echo "creating scpy$CONDAPY environment";
  - source "$HOME/miniconda/etc/profile.d/conda.sh";
  - hash -r;
  - conda config --set always_yes yes;
  - conda update -q conda;
  - conda config --add channels conda-forge;
  - conda config --add channels spectrocat;
  - conda config --set channel_priority flexible;
  - conda install mamba jinja2
  - $HOME/miniconda/bin/python .ci/env/env_create.py -v $CONDAPY --dev scpy$CONDAPY.yml
  - mamba env create -f .ci/env/scpy$CONDAPY.yml;

# create env and install scpy from sources
install:
  - echo "Activate scpy$CONDAPY environnment...";
  - source "$HOME/miniconda/etc/profile.d/conda.sh";
  - conda activate scpy$CONDAPY;
  - git fetch --tags;
  - python setup.py install;

# command to install code-climate dependencies
before_script:
  - if [[ $TEST = true ]]; then
      echo "downloading cc-test-reporter";
      curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter;
      chmod +x ./cc-test-reporter;
      ./cc-test-reporter before-build;
    fi

script:
  - if [[ $TEST = true ]]; then
      echo "RUNNING TESTS";
      flake8;
      coverage run -m pytest -v

    elif [[ $DEPLOY = true ]]; then
      echo "BUILDING AND UPLOADING ON ANACONDA";
      bash .ci/scripts/conda-upload.sh;

    elif [[ $BUILDOCS = true ]]; then
      echo "BUILDING DOCS"
      mkdir $HOME/spectrochempy_docs;
      echo "cloning spectrochempy.github.io repository";
      git clone --branch=gh-pages --single-branch https://github.com/spectrochempy/spectrochempy.git $HOME/spectrochempy_docs/html;
      python docs/make.py --clean --html;
    fi

# command to notify code-climate
after_success:
  - if [[ $TEST = true ]]; then
      coverage xml;
      ./cc-test-reporter after-build;
    fi

deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep_history: false
    local_dir: ../../../spectrochempy_docs/html
    on:
      all_branches: true
      repo: spectrochempy/spectrochempy
      condition: $BUILDOCS = true
