language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

addons:
  apt:
    packages:
      - xvfb

install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda config --add channels conda-forge
  - conda config --add channels cantera
  - conda config --add channels spectrocat
  - conda config --set channel_priority strict
  - conda env create -q -f env/scpy-test.yml
  - conda activate scpy-test
  - conda install python=$TRAVIS_PYTHON_VERSION
  - conda info -a
  - conda update pytest
  - pip install .

script:
  - pytest -k "not test_example" --nodisplay