[build-system]
requires = ["setuptools>=42", "wheel", "setuptools_scm[toml]>=3.4"]
build-backend = "setuptools.build_meta"

[project]
name = "spectrochempy"
description = "Processing, analysis and modelling Spectroscopic data for Chemistry with Python"
readme = "README.md"
dynamic = ["version"]
requires-python = ">=3.9"
license = { text = "CeCILL-B FREE SOFTWARE LICENSE AGREEMENT" }
authors = [
    { name = "Arnaud Travert", email = "contact@spectrochempy.fr" },
    { name = "Christian Fernandez", email = "christian.fernandez@ensicaen.fr" }
]
keywords = ["spectroscopy", "chemistry", "data analysis"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Utilities",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development :: Libraries",
    "Intended Audience :: Science/Research",
    "License :: CeCILL-B Free Software License Agreement (CECILL-B)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12"
]
dependencies = [
	"brukeropusreader",
	 "colorama",
	 "dill",
	 "docrep",
	 "ipython",
	 "jinja2",
	 "numpy",
	 "matplotlib",
	 "osqp",
	 "pint",
	 "pyyaml",
	 "numpy-quaternion",
	 "scikit-learn",
	 "setuptools_scm",
	 "tzlocal",
	 "xlrd"
]
[project.optional-dependencies]
dev = [
	"coverage",
	 "pytest",
	 "pytest-doctestplus",
	 "pytest-flake8",
	 "pytest-mock",
	 "pyfakefs",
	 "pep8-naming",
	 "xarray",
	 "ipywidgets",
	 "cffconvert",
	 "numpydoc",
	 "flake8",
	 "black",
	 "boa",
	 "isort",
	 "json5",
	 "jupytext",
	 "jupyter_sphinx",
	 "mamba",
	 "nbconvert",
	 "nbsphinx",
	 "pypandoc",
	 "pre-commit",
	 "scikit-image",
	 "sphinx",
	 "sphinx-copybutton",
	 "sphinx-gallery",
	 "sphinx_rtd_theme",
	 "sphinxcontrib-bibtex"
]
test = [
	"coverage",
	 "pytest",
	 "pytest-doctestplus",
	 "pytest-flake8",
	 "pytest-mock",
	 "pyfakefs",
	 "pep8-naming",
	 "xarray",
	 "ipywidgets",
	 "cffconvert",
	 "numpydoc"
]
cantera = [
    "cantera"
]

[project.urls]
homepage = "https://www.spectrochempy.fr"
repository = "https://github.com/spectrochempy/spectrochempy"
issues = "https://github.com/spectrochempy/spectrochempy/issues"

[project.scripts]
show-versions = "spectrochempy.scripts.show_versions:main"

[tool.setuptools_scm]
version_scheme = "post-release"
local_scheme = "dirty-tag"

[tool.autoflake]
check = true
ignore-init-module-imports = true
in-place = true
exclude = ["docs/*", "tests/*", "docs/whatsnew/latest.rst", "docs/whatsnew/index.rst"]

[tool.isort]
profile = "black"
skip_glob = ["docs/*"]
