# dependencies:
# for the core package
numpy
matplotlib
traitlets
pint==0.9
quaternion
quadprog
# some other useful package
xarray
datashader
dask
pandas
xlrd
requests
scipy
numba

# mainly for install and a bit more...
setuptools_scm

# need this, because the API is mainly designed to run in Jupyter notebook
ipython
jupyterlab
ipykernel
ipywidgets
jupyter_nbextensions_configurator
ipympl
widgetsnbextension
nodejs
jupytext
pyqt

# for testing
pytest
pytest-runner
pytest-cov
pytest-xdist
scikit-image

# for docs
sphinx==1.8.5
sphinx_rtd_theme
sphinx-gallery
nbsphinx
jupyter_sphinx
nbconvert
numpydoc==0.8

# conda recipes
conda-build
twine