# requirements accessible on conda-forge

# matplotlib for notebook

ipympl

# extension to notebooks (optional)

nbbrowserpdf
jupyter_nbextensions_configurator

# docs

"git+ssh://git@github.com:sphinx-gallery/sphinx-gallery.git",

nbsphinx


# requirement for documentation

sphinx
pandoc
numpydoc
sphinx_rtd_theme

# for gui

qtconsole
pyqt
