# specific from anaconda spctrocat channel
brukeropusreader~=1.3.6
nmrglue~=0.8.1
quadprog~=0.1.7

# for the core package
cantera
colorama
dill
docrep
ipython
jinja2
matplotlib
numpy
orderedset
pint
plotly
pyqt
quaternion
requests
scipy
tqdm
traitlets
traittypes
xlrd

# for Dash
dash
dash-bootstrap-components
dash-daq
dash-ace
dash_defer_js_import

# mainly for install and a bit more...
setuptools
setuptools_scm
git

# need this, because the API is mainly designed to run in Jupyter notebook
ipywidgets
ipympl
jupyterlab
nodejs
