matplotlib
traitlets
pint
uncertainties
sympy
scikit-learn
numpy
scipy
pandas
xlrd

pytest
pytest-runner

sphinx
sphinx-gallery
pandoc
numpydoc
sphinx_bootstrap_theme

ipython
ipykernel
nb_conda
nbbrowserpdf
nbsphinx
jupyter_nbextensions_configurator

