  {%- if NAME is defined %}
name: {{ NAME }}
  {%- endif %}

  {%- if HEADER is defined %}
{{HEADER}}
  {%- else %}
# =============================================================================
#
# NOTE: This template file is used by to create the conda environment for
#       the test github action.
#
#       In the test workflow, environments are generated automatically by
#      .ci/env_create.py (see .github/workflows/test_package.yml#job 1)
#
# =============================================================================
  {%- endif %}

channels:
    - conda-forge
    - spectrocat
    - defaults
    {%- if CANTERA %}
    - cantera
    {%- endif %}

dependencies:
    {%- if VERSION %}
    - python={{ VERSION }}
    {%- endif %}

    # specific
    - quadprog
    - brukeropusreader
    - quaternion
    {%- if CANTERA %}
    - cantera
    {%- endif %}

    # for the core package
    - colorama
    - dill
    - ipython>=7.31.1
    - jinja2
    - matplotlib>=3.5
    - numba=0.55.0
    - numpy=1.21.5
    - pint>=0.18
    - requests
    - scipy=1.7.3
    - tqdm
    - traitlets
    - traittypes
    - xlrd

    # example and test data
    - spectrochempy_data

    # mainly for install and a bit more...
    - setuptools
    - setuptools_scm
    - git

  {% if DEV %}

    # Jupyter lab
    - ipywidgets
    - ipympl
    - jupyterlab>=2.2.10
    - nodejs

    # DEV dependencies
    # ----------------
    # From here, the dependencies are essentially for development.
    # They should not be necessary for the user of  spectrochempy.

    # just for testing
    - pytest
    - pytest-doctestplus
    - pytest-flake8
    - pytest-mock
    - pyfakefs
    - scikit-image
    - coverage
    - black
    - pre-commit
    - cffconvert

    # DEV: code and docs
    - mamba
    - jupytext
    - sphinx
    - sphinx_rtd_theme
    - autodocsumm
    - sphinx-gallery<=0.7.0
    - nbsphinx=0.8.1
    - jupyter_sphinx
    - json5
    - sphinx-copybutton
    - numpydoc>=1.2
    - pandoc

    # DEV: build
    - conda-build
    - conda-verify
    - anaconda-client

    # optional
    # - xarray
    # - datashader
    # - scikit-learn
    {% endif %}
    {%- if DASH %}
    # dash
    - dash
    - dash-bootstrap-components
    - dash-daq
    - jupyter-dash
    - plotly
    {%- endif %}
    - pip
    {%- if DEV %}
    - pip:

        - autodoc_traits
        {%- endif %}
        {%- if DASH %}
        - dash_defer_js_import
        - dash-ace
    {%- endif %}
