body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 1.43;
    color: #777777;
    background-color: #fefcf7;
}

blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 12pt;
    border-left: 5px solid #eeeeee;
}

/**
 * 	Separation between classes and functions
 */

dl.class, dl.function {
    border-bottom: 4px solid #888;
    padding-top: 20px;
    background-color: #fff6e0;;
}

dl.method{
    border-top: 1px solid #aaa;
}

dt{
    border-bottom: 1px solid #aaa;
    padding-top: 10px;
    background-color: #fff9f4;
}

/* dl.attribute, {
    border-top: 1px solid #aaa;
}*/

dl.glossary dt {
    font-weight: bold;
    font-size: 1.1em;
}
