name: build and publish documentation

on:
  push:
    branches:
      - master
      - docs
  release:
    types: [published]

jobs:

  build_and_publish_documentation:

    name: build documentation
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          conda env update --file environment_dev.yml --name base

      - name: Install spectrochempy
        run: |
          python setup.py install

      - name: Set up version environment variable
        run: |
          ## get version string from setuptools_scm
          PVS="$(python setup.py --version)"
          echo "Current version string = $PVS"

          ## Extract components
          IFS=$"+"
          read -ra arr <<< "$PVS"

          ## latest version string
          LATEST="${arr[0]}"
          IFS=$"."
          read -ra tag <<< "$LATEST";
          DEVSTRING="${tag[3]}"
          VERSION="${tag[0]}.${tag[1]}.${tag[2]}"
          if [[ -z $DEVSTRING ]]; then
            DEVSTRING="stable"
          fi

          ## Export variable in the github environment
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "DEVSTRING=$DEVSTRING" >> $GITHUB_ENV

          echo "$VERSION"
          echo "$DEVSTRING"

      - name: Build docs
        run: |
          mkdir docs/build

          echo "cloning spectrochempy.github.io repository"
          git clone --branch=gh-pages --single-branch https://github.com/spectrochempy/spectrochempy.git docs/build/html

          echo "Recreating docs"
          python docs/make.py --clean --html

      - name: Deploy Github Pages
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages
          folder: docs/build/html/
          single-commit: true
