name: Tests

on:
  push:
    branches:
      - master
      - develop

  schedule:
    - cron: '00 0 * * *'

  pull_request:

  workflow_dispatch:

jobs:

  test-package:

    if: "!startsWith(github.ref, 'refs/release/')"

    name: Test using ${{ matrix.os }} and python ${{ matrix.pythonVersion }}

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest] # , , macos-latest, windows-latest
        pythonVersion: ["3.10", "3.9", "3.8"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.pythonVersion }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.pythonVersion }}

      - name: Install spectrochempy
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install .

      - name: Install dependencies for testing
        run: |
          python3 -m pip install coverage pytest pytest-doctestplus pytest-flake8
          python3 -m pip install pytest-mock pyfakefs cffconvert
          python3 -m pip install numpydoc>=1.2

      - name: Setup Code Climate reporting
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: coverage run --rcfile=tests/.coveragerc -m pytest tests
          debug: true
