name: Test package

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - master

jobs:

  # Job 1
  create-env-files:

    name: Create environment yaml files

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create artifact directory
        run: |
          mkdir -p artifact

      - name: Install miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ""
          auto-activate-base: true
          auto-update-conda: true

      - name: Install dependency
        run: |
          conda install jinja2

      - name: Create environment scpy3.7
        run: |
          python .ci/env/env_create.py -v 3.7 --dev scpy3.7.yml
          mv .ci/env/scpy3.7.yml artifact/scpy3.7.yml

      - name: Create environment scpy3.8
        run: |
          python .ci/env/env_create.py -v 3.8 --dev scpy3.8.yml
          mv .ci/env/scpy3.8.yml artifact/scpy3.8.yml

      - name: Create environment scpy3.9
        run: |
          python .ci/env/env_create.py -v 3.9 --dev scpy3.9.yml
          mv .ci/env/scpy3.9.yml artifact/scpy3.9.yml

      - name: Store artifact
        uses: actions/upload-artifact@v2
        with:
          name: env-artifact
          path: artifact

  # Job 2  (only for non release)
  test-package:

    if: "!startsWith(github.ref, 'refs/release/')"

    name: Test using ${{ matrix.os }} and python ${{ matrix.pythonVersion }}

    needs: create-env-files

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, windows-latest] # , macOS-latest]
        pythonVersion: [3.9, 3.8, 3.7]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: env-artifact

      - name: Install miniconda (scpy${{ matrix.pythonVersion }})
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: scpy${{ matrix.pythonVersion }}
          environment-file: scpy${{ matrix.pythonVersion }}.yml
          condarc-file: .ci/env/condarc.yml
          auto-activate-base: false

      - name: Install spectrochempy
        run: |
          python setup.py install

      - name: Code formatting
        run: black .

      - name: Lint with flake8
        run: flake8 .

#      - name: Test with coverage
#        run: coverage run -m pytest -v tests
#
#      - name: Notify to code-climate
#        if: ${{ github.event_name != 'push' }}
#        uses: paambaati/codeclimate-action@v3.0.0
#        env:
#          CC_TEST_REPORTER_ID: ${{ secrets.CC_REPORTER_ID }}
#        with:
#          coverageCommand: coverage xml
#          coverageLocations: coverage.xml:coverage.py

# command to install code-climate dependencies

      - name: CodeClimate reporter (before build)
        if: ${{ github.event_name != 'push' }}
        run: |
          # downloading cc-test-reporter
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter;
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build

      - name: Test, generate coverage information and report to CodeClimate
        run: |
          coverage run -m pytest -v tests

      - name: CodeClimate reporter (after build)
        if: ${{ github.event_name != 'push' && matrix.pythonVersion == '3.9'}}
        run: |
          coverage xml
          ./cc-test-reporter after-build
