name: Tests

on:
  push:
    branches:
      - master
      - develop
      - feature/*

  schedule:
    - cron: '00 0 * * *'

  pull_request:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test-package:

    # prevent cron jobs from running on forks or release
    if: |
      (github.event_name == 'schedule'
       && github.repository == 'spectrochempy/spectrochempy'
       && !startsWith(github.ref, 'refs/release/')) || (
       github.event_name != 'schedule'
       && !startsWith(github.ref, 'refs/release/'))

    name: Test using ${{ matrix.os }} and python ${{ matrix.pythonVersion }}

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        pythonVersion: ["3.10" , "3.8"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.pythonVersion }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.pythonVersion }}

      - name: Install spectrochempy
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install .

      - name: Install dependencies for testing
        run: |
          python3 -m pip install pytest
          python3 -m pip install pytest-doctestplus
          python3 -m pip install pytest-flake8
          python3 -m pip install pytest-mock
          python3 -m pip install pyfakefs
          python3 -m pip install cffconvert
          python3 -m pip install coverage
          python3 -m pip install numpydoc>=1.2

      - name: Install optional libraries needed for tests
        run: |
          python3 -m pip install xarray

      - name: List final packages used for tests
        run: |
          python3 -m pip list

      - name: Test with coverage
        run: |
          coverage run -m pytest tests

      - name: Coverage report to xml
        run: |
          coverage xml

      - name: Code Climate reporting
        if: ${{ github.event_name == 'push' && matrix.pythonVersion == '3.10' && matrix.os == 'ubuntu-latest' }}
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
